

/* website*/
.datalayout {
  padding: 0;

}

.workflow-selector-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
