

/* website*/
.datalayout { 
  padding: 0;
  position: relative;
  transition: padding-left 0.3s ease-in-out;

  .modellist-wrapper {
    position: relative;
    transition: width 0.3s ease-in-out;
    width: 280px; /* Largeur par défaut de la liste */
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .modellist-toggle-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    color:black;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &.modellist-collapsed .modellist-wrapper {
    width: 0;
  }

}

.workflow-selector-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}

.properties-panel {
  position: relative; /* Nécessaire pour positionner le resizer */
}

.resizer {
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: col-resize;
}